body {
    width:100%;
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: black;
}

 #simonGame {
    width: 400px;
    height: 400px;
    position:absolute;
    border-collapse: collapse;
    left:37%;
    top: 120px;
    fill: #664a00; 
}

 #green {
    fill: green; 
        cursor: pointer;

}

 #red {
    fill:#a30000; 
        cursor: pointer;


}

 #blue {
    fill:#000b8c;
        cursor: pointer;

}

  #yellow {
    fill:#9e9000; 
        cursor: pointer;

}

#start {
    cursor: pointer;
}

#screenDiv {
    fill: #630000;
}

#easy {
    fill: #630000;
        cursor: pointer;
    color: red;

}

#hard {
    fill: #630000;
        cursor: pointer;
    color: red;
}